<script>
  import { count } from "./stores/count.js"
</script>

<div>
  <h2 class="text-3xl text-emerald-500">Calculator</h2>
  <div class="text-2xl bg-cyan-100 w-16 p-6 mt-6">{$count}</div>
  <div class="mt-6">
    <button
      on:click={count.add}
      class="w-24 bg-emerald-300 p-2 border-none rounded mr-4"
    >
      Add
    </button>
    <button
      on:click={count.subtract}
      class="w-24 bg-red-300 p-2 border-none rounded mr-4"
    >
      Subtract
    </button>
    <button
      on:click={count.triple}
      class="w-24 bg-orange-300 p-2 border-none rounded mr-4"
    >
      Triple
    </button>
    <button
      on:click={count.reset}
      class="w-24 bg-blue-300 p-2 border-none rounded mr-4"
    >
      Reset
    </button>
  </div>
</div>
